{% extends 'base.html' %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
    <br>
  <h1 class="heading">My Top Animes</h1>
  <p class="description">These are my all-time favourite Animes.</p>

{% for items in data %}
  <div class="card" >
    <div class="front" style="background-image: url('{{items.img_url}}">
        <p class="large">{{items.ranking}}</p>
    </div>
    <div class="back">
      <div>
    <div class="title">{{items.title}} <span class="release_date">({{items.year}})</span></div>
        <div class="rating">
            <label>{{items.rating}}</label>
          <i class="fas fa-star star"></i>
        </div>
          <p class="review">"{{items.review}}"</p>
        <p class="overview">
            {{items.description}}
        </p>

        <a href="{{ url_for('update', id=items.id) }}" class="button">Update</a>
        <a href="{{ url_for('delete', id=items.id) }}" class="button delete-button">Delete</a>

      </div>
    </div>
  </div>
    {% endfor %}
</div>
<div class="container text-center add">
<a href="{{ url_for('add') }}" class="button">Add Anime</a>
</div>

{% endblock %}